<li class="list-group-item" [ngClass]="{ disabled: shoppingItem.disabled }">
  <h5>{{ shoppingItem.name }}</h5>
  <small><b>Qt.</b> {{ shoppingItem.qt }}</small>
  <small><b>$</b> {{ shoppingItem.value }}</small>
  <small class="float-right"><b>Total: $ </b>{{ shoppingItem.qt * shoppingItem.value }}</small>
  <span class="actions" *ngIf="!shoppingItem.disabled">
    <span class="badge badge-danger" (click)="remove(shoppingItem)">X</span>
    <span class="badge badge-success" (click)="cross(shoppingItem)">&radic;</span>
  </span>
</li>
