<div class="container-fluid">
  <div *ngIf="authService.firebaseAuth.authState | async as user; else showLogin">
    <p class="user">Hi, {{ user.displayName }}!
      <button (click)="logout()" class="float-right">
        <fa name="sign-out"></fa>
      </button>
    </p>
    <app-header></app-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <ng-template #showLogin>
    <div class="d-flex flex-column justify-content-around align-items-center" style="height: 100vh">
      <h4>Shoppping Cart App</h4>
      <img src="/assets/img/shopping-cart.png" alt="Shopping cart logo" style="width: 40%">
      <div style="width: 100%">
        <button (click)="loginGoogle()" class="btn btn-default btn-lg btn-block mt-4">Login with Google</button>
        <button (click)="loginFacebook()" class="btn btn-primary btn-lg btn-block mt-4">Login with Facebook</button>
      </div>
    </div>
  </ng-template>
</div>
